spring:
  application:
    name: Ride-Sharing-Application

  datasource:
    url: jdbc:mariadb://ridesharing-db.ctkoqosawblj.eu-north-1.rds.amazonaws.com:3306/ridesharing
    username: rideuser
    password: Ride@123
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  session:
    store-type: none

server:
  port: 8080

logging:
  level:
    root: INFO
